@model IEnumerable<final_prog3.Models.Departamento>

@{
    ViewBag.Title = "Index";
}

<h2>Departamentos:</h2>

<p>
    @Html.ActionLink("Create New", "Create",new { @class = "btn btn-primary btn-block" })
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encargado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Encargado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id },new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.id },new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id },new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
